name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Install gradle
      run: sudo apt update && sudo apt install gradle && gradle wrapper && chmod +x gradlew && cp gradle-wrapper.properties gradle/wrapper/ && ./gradlew wrapper 
    - name: Build with Gradle
      run: ./gradlew build
